* {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 62.5%;
  font-family: "Epilogue", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

:root {
  --Almost-White: hsl(0, 0%, 98%);
  --Medium-Gray: hsl(0, 0%, 41%);
  --Almost-Black: hsl(0, 0%, 8%);
}

#div {
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  position: fixed;
  background-blend-mode: darken;
  pointer-events: none;
}

ul {
  list-style: none;
}

p {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--Medium-Gray);
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  color: var(--Almost-Black);
}

button {
  background-color: var(--Almost-Black);
  padding: 9px 16px;
  margin-top: 20px;
  border-radius: 10px;
  font-size: 2rem;
  font-weight: 500;
  color: var(--Almost-White);
}

.navMobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header {
  text-align: center;
}

.header__text {
  margin-top: 30px;
  text-align: center;
}

.header__text p {
  margin-top: 20px;
  padding: 0 23px;
}

.header__hero {
  width: 96vw;
}

.footerPatrocinior {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 20px;
  width: 100vw;
}

.footerPatrocinior img {
  width: 70%;
}

nav {
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: var(--Almost-White);
  width: 237px;
  height: 100vh;
  z-index: 1000;
  position: fixed;
  top: 0;
  right: -600px;
}

.navbar__closer {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.navbar__opcions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 10rem;
  padding-left: 20px;
}

.navbar__opcions a {
  margin: 10px;
  text-decoration: none;
  color: var(--Medium-Gray);
}

.list__item {
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.list__item:hover {
  cursor: pointer;
}

.list__button {
  display: flex;
  align-items: center;
  gap: 1em;
  width: 70%;
  margin: 0 auto;
}

.list__show {
  width: 80%;
  margin-left: auto;
  transition: height .4s;
  height: 0;
}

.navbar__buttons {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.navbar__buttons button {
  font-size: 1.4rem;
  padding: 14px 83px;
  background-color: transparent;
  color: var(--Medium-Gray);
}

#button__register {
  border-radius: 80px;
  border: groove;
  border-color: var(--Medium-Gray);
}
